body {
    background-color: beige;
}

#header {
    display: flex;
    flex-direction: column;
    
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 400;
    background-color: beige; 
    color: rgb(122, 212, 122);
    margin-top: 50px; 
    font-size: 24px;
    
    border-radius: 20px;
    height: 1500px;
    box-shadow: grey;
    margin-bottom: 100px;
}

#header-container {
 display: flex;
 flex-direction: column;   
}

.main-app-title {
    margin-top: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: rgb(103, 211, 103);
    border: 1px solid rgb(103, 211, 103);
    border-radius: 20px;
    height: 200px;
}

.select-aircraft {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    justify-content: space-around;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(103, 211, 103);
    border-radius: 20px;
    padding: 20px;
    font-size: 28px;
    margin-bottom: 30px;
}

.select-aircraft-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionClass {
    width: 150px;
    border: 1px solid rgb(103, 211, 103);
    
    border-radius: 30px;
    
    height: 60px;
    font-size: 18px;
}


.select-aircraft button {
    width: 150px;
    border: 1px solid rgb(103, 211, 103);
    
    border-radius: 30px;
    
    height: 60px;
    font-size: 18px;
}

.selected-ordered-services {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

.select-option {
    margin-left: 30px;
    margin-right: 30px;
}

.aircraft-pic {
    width: 70px;
    height: 70px;
    background-image: url("./assets/3423.jpg");
    background-size: cover;
    background-position-x: -15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


.services-main {
    display: flex;
    align-items: center;
    padding: 0 30px;
}


.services-main p:last-child {
    margin-left: 10px;
    font-weight: 600;
}



.choosed-services {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(103, 211, 103);
    padding: 20px;
    border-radius: 20px;
}

.ordered-services {
    border: 1px solid rgb(103, 211, 103);
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
}



.main-content {
    display: flex;
}