<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://fer-api.coderslab.pl/bootstrap/js/index.js"></script>
    <link rel="stylesheet" href="./Header/App.css">
</head>
<body>

    <h1 class="main-app-title">AIRCRAFT MAINTENANCE SERVICE</h1>

    <section></section>


    <header id="header">

    <div id="header-container">

        <section id="choosed-services"></section>

        <section id="ordered-services"></section>

    </div>

</header>


    <script src="build/out.js"></script>
</body>
</html>