<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://fer-api.coderslab.pl/bootstrap/js/index.js"></script>
    <link rel="stylesheet" href="./Header/App.css">
</head>
<body>
    <header id="header"></header>

    <section class="select-aircraft" id="select-aircraft"></section>

<section class="selected-ordered-services">

    <section id="choosed-services"></section>

    <section id="ordered-services"></section>

</section>


    <script src="build/out.js"></script>
</body>
</html>